/* Wrapper card */
.course-card {
    width: 220px;
    flex-shrink: 0;
}

/* Card chính */
.course-card-inner {
    position: relative;
    width: 100%;
    height: 230px;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    background: transparent;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.06);

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease;
}

.course-card-inner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 24px;
    z-index: 1;
}

.course-card-inner>* {
    position: relative;
    z-index: 2;
}

.course-card-badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 12px;
    border-radius: 999px;
    background: #f1633b;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    z-index: 3;
}

.course-card-image-wrapper {
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.course-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Tên món */
.course-card-name {
    font-size: 15px;
    font-weight: 550;
    color: #222222;
    line-height: 1.3;
    text-align: center;

    max-width: 90%;
    min-height: 46px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-clamp: 2;

    overflow: hidden;
}


/* Hover effect */
.course-card-inner:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 42px rgba(0, 0, 0, 0.12);
}